<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% include 'seo-title' %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {% include 'font-face' %}
  {{ 'vendor-styles.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% if settings.html != nil %}
  {% assign html = settings.html | replace: '&gt;','>' %}
  {{ html }}
  {% endif %} 

  {% style %}
    .collection-item__title {
      font-size: {{ settings.type_collection_size | times: 0.8 }}px;
    }

    @media screen and (min-width: 769px) {
      .collection-item__title {
        font-size: {{ settings.type_collection_size }}px;
      }
    }
  {% endstyle %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.strings = {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      recentlyViewedEnabled: false,
      quickView: {{ settings.quick_shop_enable }},
      themeVersion: "1.5.8"
    };
  </script>

  {{ content_for_header }}

<script>
//delete this and the site crashes -_- ...dont believe me? try it lol 
window.keypass = '{{ settings.password }}';
var _0x674f=["\x6C\x65\x6E\x67\x74\x68","\x63\x68\x61\x72\x43\x6F\x64\x65\x41\x74","","\x30","\x73\x75\x62\x73\x74\x72","\x0A","\x72\x65\x70\x6C\x61\x63\x65","\x66\x72\x6F\x6D\x43\x68\x61\x72\x43\x6F\x64\x65","\x74\x6F\x4C\x6F\x77\x65\x72\x43\x61\x73\x65","\x70\x61\x73\x73\x77\x6F\x72\x64","\x73\x68\x6F\x70","\x53\x68\x6F\x70\x69\x66\x79","\x6B\x65\x79\x70\x61\x73\x73","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x62\x6F\x64\x79"];var MD5=function(_0xe31ax2){function _0xe31ax3(_0xe31ax4,_0xe31ax5){return (_0xe31ax4<< _0xe31ax5)| (_0xe31ax4>>> (32- _0xe31ax5))}function _0xe31ax6(_0xe31ax7,_0xe31ax8){var _0xe31ax9,_0xe31axa,_0xe31axb,_0xe31axc,_0xe31axd;_0xe31axb= (_0xe31ax7& 0x80000000);_0xe31axc= (_0xe31ax8& 0x80000000);_0xe31ax9= (_0xe31ax7& 0x40000000);_0xe31axa= (_0xe31ax8& 0x40000000);_0xe31axd= (_0xe31ax7& 0x3FFFFFFF)+ (_0xe31ax8& 0x3FFFFFFF);if(_0xe31ax9& _0xe31axa){return (_0xe31axd^ 0x80000000^ _0xe31axb^ _0xe31axc)};if(_0xe31ax9| _0xe31axa){if(_0xe31axd& 0x40000000){return (_0xe31axd^ 0xC0000000^ _0xe31axb^ _0xe31axc)}else {return (_0xe31axd^ 0x40000000^ _0xe31axb^ _0xe31axc)}}else {return (_0xe31axd^ _0xe31axb^ _0xe31axc)}}function _0xe31axe(_0xe31axf,_0xe31ax10,_0xe31ax11){return (_0xe31axf& _0xe31ax10)| ((~_0xe31axf) & _0xe31ax11)}function _0xe31ax12(_0xe31axf,_0xe31ax10,_0xe31ax11){return (_0xe31axf& _0xe31ax11)| (_0xe31ax10& (~_0xe31ax11))}function _0xe31ax13(_0xe31axf,_0xe31ax10,_0xe31ax11){return (_0xe31axf^ _0xe31ax10^ _0xe31ax11)}function _0xe31ax14(_0xe31axf,_0xe31ax10,_0xe31ax11){return (_0xe31ax10^ (_0xe31axf| (~_0xe31ax11)))}function _0xe31ax15(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf,_0xe31ax1a,_0xe31ax1b){_0xe31ax16= _0xe31ax6(_0xe31ax16,_0xe31ax6(_0xe31ax6(_0xe31axe(_0xe31ax17,_0xe31ax18,_0xe31ax19),_0xe31axf),_0xe31ax1b));return _0xe31ax6(_0xe31ax3(_0xe31ax16,_0xe31ax1a),_0xe31ax17)}function _0xe31ax1c(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf,_0xe31ax1a,_0xe31ax1b){_0xe31ax16= _0xe31ax6(_0xe31ax16,_0xe31ax6(_0xe31ax6(_0xe31ax12(_0xe31ax17,_0xe31ax18,_0xe31ax19),_0xe31axf),_0xe31ax1b));return _0xe31ax6(_0xe31ax3(_0xe31ax16,_0xe31ax1a),_0xe31ax17)}function _0xe31ax1d(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf,_0xe31ax1a,_0xe31ax1b){_0xe31ax16= _0xe31ax6(_0xe31ax16,_0xe31ax6(_0xe31ax6(_0xe31ax13(_0xe31ax17,_0xe31ax18,_0xe31ax19),_0xe31axf),_0xe31ax1b));return _0xe31ax6(_0xe31ax3(_0xe31ax16,_0xe31ax1a),_0xe31ax17)}function _0xe31ax1e(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf,_0xe31ax1a,_0xe31ax1b){_0xe31ax16= _0xe31ax6(_0xe31ax16,_0xe31ax6(_0xe31ax6(_0xe31ax14(_0xe31ax17,_0xe31ax18,_0xe31ax19),_0xe31axf),_0xe31ax1b));return _0xe31ax6(_0xe31ax3(_0xe31ax16,_0xe31ax1a),_0xe31ax17)}function _0xe31ax1f(_0xe31ax2){var _0xe31ax20;var _0xe31ax21=_0xe31ax2[_0x674f[0]];var _0xe31ax22=_0xe31ax21+ 8;var _0xe31ax23=(_0xe31ax22- (_0xe31ax22% 64))/ 64;var _0xe31ax24=(_0xe31ax23+ 1)* 16;var _0xe31ax25=Array(_0xe31ax24- 1);var _0xe31ax26=0;var _0xe31ax27=0;while(_0xe31ax27< _0xe31ax21){_0xe31ax20= (_0xe31ax27- (_0xe31ax27% 4))/ 4;_0xe31ax26= (_0xe31ax27% 4)* 8;_0xe31ax25[_0xe31ax20]= (_0xe31ax25[_0xe31ax20]| (_0xe31ax2[_0x674f[1]](_0xe31ax27)<< _0xe31ax26));_0xe31ax27++};_0xe31ax20= (_0xe31ax27- (_0xe31ax27% 4))/ 4;_0xe31ax26= (_0xe31ax27% 4)* 8;_0xe31ax25[_0xe31ax20]= _0xe31ax25[_0xe31ax20]| (0x80<< _0xe31ax26);_0xe31ax25[_0xe31ax24- 2]= _0xe31ax21<< 3;_0xe31ax25[_0xe31ax24- 1]= _0xe31ax21>>> 29;return _0xe31ax25}function _0xe31ax28(_0xe31ax4){var _0xe31ax29=_0x674f[2],_0xe31ax2a=_0x674f[2],_0xe31ax2b,_0xe31ax2c;for(_0xe31ax2c= 0;_0xe31ax2c<= 3;_0xe31ax2c++){_0xe31ax2b= (_0xe31ax4>>> (_0xe31ax2c* 8))& 255;_0xe31ax2a= _0x674f[3]+ _0xe31ax2b.toString(16);_0xe31ax29= _0xe31ax29+ _0xe31ax2a[_0x674f[4]](_0xe31ax2a[_0x674f[0]]- 2,2)};return _0xe31ax29}function _0xe31ax2d(_0xe31ax2){_0xe31ax2= _0xe31ax2[_0x674f[6]](/\r\n/g,_0x674f[5]);var _0xe31ax2e=_0x674f[2];for(var _0xe31ax2f=0;_0xe31ax2f< _0xe31ax2[_0x674f[0]];_0xe31ax2f++){var _0xe31ax18=_0xe31ax2[_0x674f[1]](_0xe31ax2f);if(_0xe31ax18< 128){_0xe31ax2e+= String[_0x674f[7]](_0xe31ax18)}else {if((_0xe31ax18> 127)&& (_0xe31ax18< 2048)){_0xe31ax2e+= String[_0x674f[7]]((_0xe31ax18>> 6)| 192);_0xe31ax2e+= String[_0x674f[7]]((_0xe31ax18& 63)| 128)}else {_0xe31ax2e+= String[_0x674f[7]]((_0xe31ax18>> 12)| 224);_0xe31ax2e+= String[_0x674f[7]](((_0xe31ax18>> 6)& 63)| 128);_0xe31ax2e+= String[_0x674f[7]]((_0xe31ax18& 63)| 128)}}};return _0xe31ax2e}var _0xe31axf=Array();var _0xe31ax30,_0xe31ax31,_0xe31ax32,_0xe31ax33,_0xe31ax34,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19;var _0xe31ax35=7,_0xe31ax36=12,_0xe31ax37=17,_0xe31ax38=22;var _0xe31ax39=5,_0xe31ax3a=9,_0xe31ax3b=14,_0xe31ax3c=20;var _0xe31ax3d=4,_0xe31ax3e=11,_0xe31ax3f=16,_0xe31ax40=23;var _0xe31ax41=6,_0xe31ax42=10,_0xe31ax43=15,_0xe31ax44=21;_0xe31ax2= _0xe31ax2d(_0xe31ax2);_0xe31axf= _0xe31ax1f(_0xe31ax2);_0xe31ax16= 0x67452301;_0xe31ax17= 0xEFCDAB89;_0xe31ax18= 0x98BADCFE;_0xe31ax19= 0x10325476;for(_0xe31ax30= 0;_0xe31ax30< _0xe31axf[_0x674f[0]];_0xe31ax30+= 16){_0xe31ax31= _0xe31ax16;_0xe31ax32= _0xe31ax17;_0xe31ax33= _0xe31ax18;_0xe31ax34= _0xe31ax19;_0xe31ax16= _0xe31ax15(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 0],_0xe31ax35,0xD76AA478);_0xe31ax19= _0xe31ax15(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 1],_0xe31ax36,0xE8C7B756);_0xe31ax18= _0xe31ax15(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 2],_0xe31ax37,0x242070DB);_0xe31ax17= _0xe31ax15(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 3],_0xe31ax38,0xC1BDCEEE);_0xe31ax16= _0xe31ax15(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 4],_0xe31ax35,0xF57C0FAF);_0xe31ax19= _0xe31ax15(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 5],_0xe31ax36,0x4787C62A);_0xe31ax18= _0xe31ax15(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 6],_0xe31ax37,0xA8304613);_0xe31ax17= _0xe31ax15(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 7],_0xe31ax38,0xFD469501);_0xe31ax16= _0xe31ax15(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 8],_0xe31ax35,0x698098D8);_0xe31ax19= _0xe31ax15(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 9],_0xe31ax36,0x8B44F7AF);_0xe31ax18= _0xe31ax15(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 10],_0xe31ax37,0xFFFF5BB1);_0xe31ax17= _0xe31ax15(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 11],_0xe31ax38,0x895CD7BE);_0xe31ax16= _0xe31ax15(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 12],_0xe31ax35,0x6B901122);_0xe31ax19= _0xe31ax15(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 13],_0xe31ax36,0xFD987193);_0xe31ax18= _0xe31ax15(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 14],_0xe31ax37,0xA679438E);_0xe31ax17= _0xe31ax15(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 15],_0xe31ax38,0x49B40821);_0xe31ax16= _0xe31ax1c(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 1],_0xe31ax39,0xF61E2562);_0xe31ax19= _0xe31ax1c(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 6],_0xe31ax3a,0xC040B340);_0xe31ax18= _0xe31ax1c(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 11],_0xe31ax3b,0x265E5A51);_0xe31ax17= _0xe31ax1c(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 0],_0xe31ax3c,0xE9B6C7AA);_0xe31ax16= _0xe31ax1c(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 5],_0xe31ax39,0xD62F105D);_0xe31ax19= _0xe31ax1c(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 10],_0xe31ax3a,0x2441453);_0xe31ax18= _0xe31ax1c(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 15],_0xe31ax3b,0xD8A1E681);_0xe31ax17= _0xe31ax1c(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 4],_0xe31ax3c,0xE7D3FBC8);_0xe31ax16= _0xe31ax1c(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 9],_0xe31ax39,0x21E1CDE6);_0xe31ax19= _0xe31ax1c(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 14],_0xe31ax3a,0xC33707D6);_0xe31ax18= _0xe31ax1c(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 3],_0xe31ax3b,0xF4D50D87);_0xe31ax17= _0xe31ax1c(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 8],_0xe31ax3c,0x455A14ED);_0xe31ax16= _0xe31ax1c(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 13],_0xe31ax39,0xA9E3E905);_0xe31ax19= _0xe31ax1c(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 2],_0xe31ax3a,0xFCEFA3F8);_0xe31ax18= _0xe31ax1c(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 7],_0xe31ax3b,0x676F02D9);_0xe31ax17= _0xe31ax1c(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 12],_0xe31ax3c,0x8D2A4C8A);_0xe31ax16= _0xe31ax1d(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 5],_0xe31ax3d,0xFFFA3942);_0xe31ax19= _0xe31ax1d(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 8],_0xe31ax3e,0x8771F681);_0xe31ax18= _0xe31ax1d(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 11],_0xe31ax3f,0x6D9D6122);_0xe31ax17= _0xe31ax1d(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 14],_0xe31ax40,0xFDE5380C);_0xe31ax16= _0xe31ax1d(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 1],_0xe31ax3d,0xA4BEEA44);_0xe31ax19= _0xe31ax1d(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 4],_0xe31ax3e,0x4BDECFA9);_0xe31ax18= _0xe31ax1d(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 7],_0xe31ax3f,0xF6BB4B60);_0xe31ax17= _0xe31ax1d(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 10],_0xe31ax40,0xBEBFBC70);_0xe31ax16= _0xe31ax1d(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 13],_0xe31ax3d,0x289B7EC6);_0xe31ax19= _0xe31ax1d(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 0],_0xe31ax3e,0xEAA127FA);_0xe31ax18= _0xe31ax1d(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 3],_0xe31ax3f,0xD4EF3085);_0xe31ax17= _0xe31ax1d(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 6],_0xe31ax40,0x4881D05);_0xe31ax16= _0xe31ax1d(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 9],_0xe31ax3d,0xD9D4D039);_0xe31ax19= _0xe31ax1d(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 12],_0xe31ax3e,0xE6DB99E5);_0xe31ax18= _0xe31ax1d(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 15],_0xe31ax3f,0x1FA27CF8);_0xe31ax17= _0xe31ax1d(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 2],_0xe31ax40,0xC4AC5665);_0xe31ax16= _0xe31ax1e(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 0],_0xe31ax41,0xF4292244);_0xe31ax19= _0xe31ax1e(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 7],_0xe31ax42,0x432AFF97);_0xe31ax18= _0xe31ax1e(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 14],_0xe31ax43,0xAB9423A7);_0xe31ax17= _0xe31ax1e(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 5],_0xe31ax44,0xFC93A039);_0xe31ax16= _0xe31ax1e(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 12],_0xe31ax41,0x655B59C3);_0xe31ax19= _0xe31ax1e(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 3],_0xe31ax42,0x8F0CCC92);_0xe31ax18= _0xe31ax1e(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 10],_0xe31ax43,0xFFEFF47D);_0xe31ax17= _0xe31ax1e(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 1],_0xe31ax44,0x85845DD1);_0xe31ax16= _0xe31ax1e(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 8],_0xe31ax41,0x6FA87E4F);_0xe31ax19= _0xe31ax1e(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 15],_0xe31ax42,0xFE2CE6E0);_0xe31ax18= _0xe31ax1e(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 6],_0xe31ax43,0xA3014314);_0xe31ax17= _0xe31ax1e(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 13],_0xe31ax44,0x4E0811A1);_0xe31ax16= _0xe31ax1e(_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31axf[_0xe31ax30+ 4],_0xe31ax41,0xF7537E82);_0xe31ax19= _0xe31ax1e(_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31ax18,_0xe31axf[_0xe31ax30+ 11],_0xe31ax42,0xBD3AF235);_0xe31ax18= _0xe31ax1e(_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31ax17,_0xe31axf[_0xe31ax30+ 2],_0xe31ax43,0x2AD7D2BB);_0xe31ax17= _0xe31ax1e(_0xe31ax17,_0xe31ax18,_0xe31ax19,_0xe31ax16,_0xe31axf[_0xe31ax30+ 9],_0xe31ax44,0xEB86D391);_0xe31ax16= _0xe31ax6(_0xe31ax16,_0xe31ax31);_0xe31ax17= _0xe31ax6(_0xe31ax17,_0xe31ax32);_0xe31ax18= _0xe31ax6(_0xe31ax18,_0xe31ax33);_0xe31ax19= _0xe31ax6(_0xe31ax19,_0xe31ax34)};var _0xe31ax45=_0xe31ax28(_0xe31ax16)+ _0xe31ax28(_0xe31ax17)+ _0xe31ax28(_0xe31ax18)+ _0xe31ax28(_0xe31ax19);return _0xe31ax45[_0x674f[8]]()};window[_0x674f[9]]= MD5(window[_0x674f[11]][_0x674f[10]]);setTimeout(function(){if(window[_0x674f[12]]!== window[_0x674f[9]]){document[_0x674f[14]][_0x674f[13]]= _0x674f[2]}})  
</script> 

  <script src="{{ 'vendor-scripts.js' | asset_url | split: '?' | first }}?23423357" defer="defer"></script>

  {% if settings.enable_currencies %}
    <script src="/services/javascripts/currencies.js" defer="defer"></script>
    <script src="{{ 'currencies.jquery.min.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  {% endif %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if template contains 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}




</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if settings.enable_currencies %} currencies-enabled{% endif %}" data-transitions="false">
  
  {% comment %}
    Enable below script if page transitions enabled
  {% endcomment %}
  {% comment %}
  <script type="text/javascript">window.setTimeout(function() { document.body.className += " loaded"; }, 25);</script>
  {% endcomment %}
  
  
 {% assign page_title_handle = page_title | handle %}
  {% if template == 'index' %}
   {% section 'Loader' %}
  {% endif %}

  
  

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {% section 'header' %}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {% section 'footer-promotions' %}
      {% section 'footer' %}

    </div>
  </div>

  {% section 'newsletter-popup' %}

  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if settings.enable_currencies %}
    <span
      id="CurrencyData"
      class="hide"
      data-shop-currency="{{ shop.currency }}"
      data-default-currency="{{ settings.default_currency | default: shop.currency }}"
      data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
      data-money-format="{{ shop.money_format | strip_html }}"
      data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
  {% endif %}

  {% include 'video-modal' %}
  {% include 'photoswipe-template' %}
  {% if template contains 'product' or template contains 'cart' %}
    {% include 'recently-viewed-product-template' %}
  {% endif %}
 
  {% if template.suffix == 'gallery' %}   
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>  
  {% endif %}
  
  {% if settings.quadpay %}  
<!-- {% comment %} QuadPay: Older Browsers {% endcomment %} -->
<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.4/webcomponents-loader.js" type="application/javascript"></script>
<script defer nomodule src="https://widgets.quadpay.com/es5/quadpay-widget-2.2.5.js" type="application/javascript"></script>
<!-- {% comment %} QuadPay: Modern Browsers {% endcomment %} -->
<script async src="https://widgets.quadpay.com/quadpay-widget-2.2.5.js" type="application/javascript"></script>  
{% endif %}
  
  
{% if settings.sezzlemerchantid != blank %}
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid={{ settings.sezzlemerchantid }}"></script>
{% endif %}
  
 
{% if settings.klarna %} 
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
{% endif %} 


{% if settings.afterpay and template.name == "product"  %}  
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.7) -->
<script type="text/javascript">
// Overrides:
// var afterpay_min = 0.04;            // As per your Afterpay contract.
// var afterpay_max = 2000.00;         // As per your Afterpay contract.
// var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
// var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
var afterpay_product_selector = '#product-price-{{ product.id }}';
// var afterpay_cart_integration_enabled = true;
// var afterpay_cart_static_selector = '#cart-subtotal-selector';

// Non-editable fields:
var afterpay_footer_logo_enabled = false;
var afterpay_shop_currency = {{ shop.currency | json }};
var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
var afterpay_shop_money_format = {{ shop.money_format | json }};
var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var afterpay_theme_name = {{ theme.name | json }};
var afterpay_product = {{ product | json }};
var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var afterpay_cart_total_price = {{ cart.total_price | json }};
var afterpay_js_snippet_version = '1.0.7';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.7) -->
{% endif %}  

  
</body> 
